/* Styles for WATS 3020 Roster Project */

h1 {
    text-align: center;
    padding: 10px;
}


button {
    background:  #f6e974;   
    padding: 0.2rem;
    border: 1.5px rgba(255,255,255,0) solid;
    color: black;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}
button:hover, button:focus {
    background: #f6e974;
    padding: 0.2rem;
    border: 1.5px black solid;
    color: black;
}
table {
    width: 100%;
    text-align: left;
    padding-top: 60px;
}

caption {
    text-align: left;
    background: #e8e8e8;
    padding: 0.3rem;
    visibility: hidden;
    height: 0px;
}
td, th {
    padding: 0.2rem;
}
tr:nth-child(even) {
    background: #fff;
}
tr:nth-child(2n+1) {
    background: #c5c5be;
}
thead tr th{
    background: #fff;
}
h1.course-title {
    margin-top: 5; 
}
.course-description {
    font-weight: 300;
    font-size: 1.2rem;
}
body {
    background: #fff;
    border-right: solid 1px #999;
    border-left: solid 1px #999;
    margin: 0 auto;
    padding: 2rem 1rem;
    width: 100%;
    font-family: sans-serif;
}
html {
    background: #bb0707;
    padding: 0;
}